.container {
    max-width: 100%;
    background-image: url(./assets/background.jpg);
}

.container_btn {
    text-align: center;
    padding: 1em;
}

.grid-container_deck{
    display: inline-grid;
    align-items: center;

}  

.card-body_details {
    background-image: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
    justify-self: stretch;
}

#details h5 {
    text-align: center;
    font-weight: bold;
    color: rgb(4, 4, 56);
}

#currentWeather {
   text-align: center;
   height: auto;
   width: auto; 
}

.grid-container{
    display: inline-grid ;
    flex-direction: row;
    justify-items: center;   
}
