.container {
    max-width: 100vw;
    background-image: url(./assets/backgroundfall3.jpg);
    background-size: cover;
    background-position: center;}

.formInput{
    color: #34495e;
}

#states {
    border: none;
    background-color: #d6bda0;

}
#cities {
    border: none;
    background-color: #ecdac5;
}

.containerbutton {
    text-align: center;
}

#submit {
    background: #34495e;
    color: bisque;
    border: 0.25rem solid #34495e;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

.grid-container_deck {
    display: inline-grid;
    align-items: center;
}  

.card-body_details {
    justify-self: center;
    padding-top: 2em;;
    padding-left: 3em;
    font-size: large;
    font-weight: 500;
}

#details h5 {
    text-align: center;
    font-weight: bold;
    color: rgb(4, 4, 56);
}

#currentWeather {
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   height: auto;
   width: auto; 
}

#weatherImage {
    padding-right: 5em;
}

.containerTitle h2{
    text-align: center;
    color:wheat;
    text-shadow: 4px 4px brown;
}

.card-images {
    padding-top: 2em;
}

